/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/main.css ***!
  \****************************************************************/
@font-face {
    font-family: 'raleway-dotted';
    src: url(fc475d20cadccf5fe744.ttf);
}

@font-face {
    font-family: 'kgprimary';
    src: url(0a379509ef68955a060b.ttf);
}

@font-face {
    font-family: 'kgdotslined';
    src: url(2856acef73622ac86377.ttf);
}

@font-face {
    font-family: 'kgdotslinedalt';
    src: url(4c8bc93a08ecca4ee6ba.ttf);
}

@font-face {
    font-family: 'school';
    src: url(16352249f2077695d944.ttf);
}

@font-face {
    font-family: 'pacifico';
    src: url(c0d735fc04154e03a691.ttf);
}

@font-face {
    font-family: 'birthstone';
    src: url(07198561218abc06ed95.ttf);
}

#dropdown-container {
    position: fixed;
    top: 1em;
    right: 3em;
    z-index: 99999999;
}

@media (min-width: 768px) {
    body {
        font-family: 'Courier New', Courier, monospace;
        max-width: 65vw;
        margin-left: auto;
        margin-right: auto;
    }

    #dropdown-container {
        position: fixed;
        top: 1em;
        right: 3em;
        z-index: 99999999;
    }
}




h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-center {
    text-align: center;
}


.f-birthstone {
    font-family: 'birthstone';
}

.f-pacifico {
    font-family: 'pacifico'
}

.f-school {
    font-family: 'school'
}

.fs-40 {
    font-size: 40px;
}

@media print {
    body {
        width: 100%;
        max-width: unset;
    }

    .calitem {
        width: 70pt;
    }

    section .row:not(:first-of-type) {
        color: rgb(221, 221, 221);
    }
}

main {
    position: relative;
}

.faded {
    color: rgb(221, 221, 221);

}

aside {
    position: absolute;
    top: 0;
    right: 0;
}

.calligraphy-row {
    border: 1px solid #000;
    margin-bottom: 1em;
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 1em;
    box-sizing: border-box;

    .wording {
        position: absolute;
        top: 8px;
        z-index: 9999;
    }

    &::after {
        content: '';
        height: 30px;
        width: 100%;
        position: absolute;
        z-index: 999;
        top: calc(70px * 0.5 - 30px * 0.5);
        left: 0;
        background-color: rgb(249, 249, 249);
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
}
/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/scrabble.css ***!
  \********************************************************************/
.syllables-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    div[class*="row"] {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5em;
        width: 100%;
    }

    .syllable {
        padding: 0.5em;
        border: 1px dashed #000;
        border-radius: 3px;
        margin-left: 0.15em;
        margin-right: 0.15em;
        width: 45px;
        height: 45px;
        font-family:'Courier New', Courier, monospace;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media print {
    .syllable {
        font-size: 12pt;
        width: 50pt;
        height: 50pt;
    }
}
