@use 'fonts';

#dropdowns-container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    position: relative;
}

aside {
    position: absolute;
    top: 0;
    right: 0;
}



@media print {
    body {
        width: 100%;
        max-width: unset;
    }
    .page-name,
    #dropdowns-container {
        display: none;
    }
}