.syllables-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    div[class*="row"] {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5em;
        width: 100%;
    }

    .syllable {
        padding: 0.5em;
        border: 1px dashed #000;
        border-radius: 3px;
        margin-left: 0.15em;
        margin-right: 0.15em;
        width: 45px;
        height: 45px;
        font-family:'Courier New', Courier, monospace;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media print {
    .syllable {
        font-size: 12pt;
        width: 50pt;
        height: 50pt;
    }
}